/*------------------------------------*\
  #core
\*------------------------------------*/

//Init font
:visited,
:focus,
:active,
button,
input {
  // outline: none !important;
}

::-moz-selection { /* Code for Firefox */
  background-color: $gray-lighter;
  color: $black;
}

::selection {
  background-color: $gray-lighter;
  color: $black;
}

pre.checkCa {
  position: relative;
  display: block;
  width: 100%;
  padding: 3rem;
  color: $gray-lightest;
  background-color: $gray-dark;
}