/*------------------------------------*\
  #LINKS
\*------------------------------------*/

/**
 * Default styles for simple hyperlinks.
 */

a {
  color: $link-color;
  @include font-weight(bold);
  text-decoration: none;

  @include hocus() {
    text-decoration: underline;
  }

}
