body {
    min-height: 100vh;
    width: 100%;

    background-color: var(--bg-clr);
    color: var(--text-clr);

    font-size: var(--text-size);
    font-family: var(--main-ff);
    line-height: 1.6;
}

h1 {
    font-size: var(--h1-size)
}

h2 {
    font-size: var(--h2-size)
}

h3 {
    font-size: var(--h3-size)
}

.mono-ff {
    font-family: var(--second-ff);
}

@media screen and (max-width: 965px){

    body {
        --logo-size: 1.2rem;
        --nav-size: 1rem;
        --text-size: 1rem;
        --h3-size: 1rem;
        --h1-size: 2rem;
    }
}